.App-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  max-width: 80%;
}

.App-form-info-from {
  grid-column: 1;
  grid-row: 1;
}

.App-form-info-to {
  grid-column: 2;
  grid-row: 1;
}

.App-invoice-info {
  grid-column: 1;
  grid-row: 2;
}

.App-invoice-details {
  grid-column: 2;
  grid-row: 2;
}

